<component name="ArtifactManager">
  <artifact type="war" name="mybatis-module:war">
    <output-path>$PROJECT_DIR$/mybatis-module/target</output-path>
    <root id="archive" name="mybatis-module.war">
      <element id="artifact" artifact-name="mybatis-module:war exploded" />
    </root>
  </artifact>
</component>